*~
*.o
obj

img/*.ffs
rump
rump-kernel
rumpobj
rumptools
include/mini-os/machine
include/xen

app-tools/specs
app-tools/specs.configure
app-tools/rumpapp-xen-cc
app-tools/rumpapp-xen-cc.configure
app-tools/rumpapp-xen-configure
app-tools/rumpapp-xen-gmake
app-tools/rumpapp-xen-make

tests/hello/hello
tests/wopr/wopr
